 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width:80%;
    margin: auto;
    overflow: hidden;
}
header {
    background-color: #fca5f1;
    color: rgb(9, 1, 17);
    padding: 10px;
    text-align: center;
    font-family: 'Georgia', serif;
}
header h1{
    float: left;
    font-size: 2rem;
}
nav{
    float: right;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}
nav ul li{
    display: inline;
    margin-left:20px;
}

nav ul li a {
    color: white #00b7ff;
    text-decoration: none;
    font-family: 'Verdana', sans-serif;
}
.hero{
    background:url('images/background.jpg') no repeat center center/cover;
    color: #fff;
    padding: 4rem 0;
    text-align: center;
    font-family: 'helvetica neue',sans-serif;
}
.hero h2{
    font-size:3rem ;
    font-weight: bold;
}
.hero .btn{
    display: inline-block;
    padding: 0.5rem 1rem;
    background: #e74c3c;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Courier New',monospace;
}

main {
    padding: 20px;
}

section {
    padding: 2rem 0;
}
.info h2 .adopt h2, .contact h2{
    margin-bottom: 1rem;
    flex-direction: column;
}
form{
    display: flex;
    flex-direction: column;
}
form label, form input,form textarea,form button{
    margin-bottom: 1rem;
}
form button{
    font-family:'Georgia',serif;
}

.animal {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}

.animal img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
 position: fixed;
 width: 100%;
 bottom:0;
 font-family: 'Arial',sans-serif;

}
/* Add styles for the gallery in styles.css */
.gallery-item {
    display: inline-block;
    margin: 10px;
}
@media(max-width:68px){
    header h1{
        float: none;
        text-align: center;
    }
    nav{
        float: none;
        text-align: center;
    }
    nav u1{
        padding: 0;

    }
    nav u1 li{
        display:block;
        margin:0;
    }
}


.gallery-item img {
    max-width: 300px;
    height: 100px;
}